.alb_alb-text-align__2PLbV {
  text-align: right !important;
}

.alb_alb-direction-rtl__3suuQ {
  direction: initial !important;
  align-items: flex-end !important;
}

.alb_alb-transform-rotate__ds_BW {
  display: inline-block;
  transform: rotate(180deg);
}

.alb_alb-justify-content__tx7cC {
  justify-content: flex-start;
}

.alb_alb-date-range__2p-UP {
  left: -9999px !important;
}

