* {
    bg-col: #22262c;
    bg-col-light: #282c34;
    border-col: #282c34;
    selected-col: #282c34;
    green: #e5c07b;
    fg-col: #abb2bf;
    fg-col2: #e5c07b;
    grey: #565c64;
    width: 600;
}
